:root{
  --table-header-color: #dddddd;
  --table-border-color: #dbdbdb;
  --table-row-color-1: #ffffff;
  --table-row-color-2: #eeeeee;
}
html[data-theme = "dark"]{
  --table-header-color: #242424;
  --table-border-color: #303030;
  --table-row-color-1: #525252;
  --table-row-color-2: #424242;
}
.sidenav {
  top: 143px;
  width: 275px;
  height: calc(100vh - 171px);
}
.selectbar{
  position: fixed;
  padding: 16px;
  top: 50px;
  height: 60px;
  width: 275px;
  border-right: 1px solid var(--side-border-color);
  border-bottom: 1px solid var(--side-border-color);
}
.selectbar>button{
  background-color: #ffffff;
  border: 1px solid #7a7a7a;
  height: 28px;
  display: none;
}
.selectbar>button>img{
  height: 20px;
  vertical-align: -3px;
}
.selectbar>select{
  background-color: #ffffff;
  border: 1px solid #7a7a7a;
  font-size: 18px;
  height: 28px;
}
.selectbar>select *{
  font-size: 18px;
}
.tableTitle{
  font-size: 21px;
  margin-bottom: 5px;
}
.listTitle{
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 16px;
}
.listTitle > ul{
  margin-top: 4px;
  margin-bottom: 0px;
  padding-left: 12px;
}
.listTitle > * > *>*>input{
  margin: 4px 8px 6px 4px;
}
.resource {
  padding-left: 340px;
  padding-right: 160px;
  padding-bottom: 64px;
}
table{
  width: 100%;
}
table,
th,
td {
  border: none;
  border-collapse: collapse;
  background-color: none;
  vertical-align: middle;
  text-align: left;
}
td > i{
  font-size: 16pt;
  padding: 2px;
}
td:nth-child(2){
  font-size: 14pt;
}
tr{
  border: solid 1px rgb(114, 114, 114);
  background-color: var(--table-row-color-2);
}
/*
tr:nth-child(2n) {
  background-color: var(--table-row-color-1);
}
tr:nth-child(2n-1) {
  background-color: var(--table-row-color-2);
}
*/
td,
th {
  padding: 8px 24px;
}
th {
  background-color: var(--table-header-color);
}
table{
  border: 1px solid var(--table-border-color);
}
.tableimg {
  width: 32px;
  vertical-align: middle;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@media (min-width: 1180px) and (max-width: 1330px) {
  .resource {
    padding-left: 340px;
    padding-right: 40px;
  }
  td,
  th {
    padding: 8px 14px;
  }
}
@media (min-width: 920px) and (max-width: 1179px) {
  .resource {
    padding-left: 340px;
    padding-right: 40px;
  }
  td,
  th {
    padding: 6px 14px;
  }
  th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 919px) {
  .resource {
    padding-left: 340px;
    padding-right: 40px;
  }
  td,
  th {
    padding: 6px 14px;
  }
  th:nth-child(4),td:nth-child(4),th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
}
@media (max-width: 768px) {
  .resource {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }
  .selectbar{
    position: -webkit-sticky; /* Safari */
    background-color: var(--side-border-color);
    color: var(--font-color);
    border-bottom: 1px solid var(--side-border-color);
  
    /* Keep navbar as 50px height*/
    height: 29px;
    position: sticky;
    padding: 10px 10px;
    top: 50px;
    width: calc(100vw - 21px);
  }
  .selectbar *{
    font-size: 18px;
  }
  .selectbar > * *{
    font-size: 18px;
  }
  .selectbar>button{
    display: inline;
    margin-right: 4px;
  }
  .sidenav{
    top: 100px;
    height: calc(100vh - 132px);
  }
  .tableTitle{
    display: none;
  }
  #tname{
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
  }
  td,
  th {
    padding: 4px 12px;
    font-size: 11pt;
  }
  td:nth-child(2){
    font-size: 12pt;
  }
  th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
}
@media (max-width: 529px) {
  th:nth-child(4),td:nth-child(4),th:nth-child(5),td:nth-child(5),th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
  td,
  th {
    padding: 8px 4px;
    font-size: 11pt;
  }
}
@media (max-width: 430px) {
  .resource {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
  }
  .selectbar{
    padding: 10px 5px;
    width: calc(100vw - 11px);
  }
  .selectbar>button{
    padding: 0px 4px 0px 4px;
    margin: 0px;
  }
  .selectbar>select{
    width: calc(100vw - 147px);
    font-size: 18px;
  }
}