:root{
  --table-header-color: #dddddd;
  --table-border-color: #dbdbdb;
  --table-row-color-1: #ffffff;
  --table-row-color-2: #eeeeee;
}
html[data-theme = "dark"]{
  --table-header-color: #242424;
  --table-border-color: #303030;
  --table-row-color-1: #525252;
  --table-row-color-2: #424242;
}
.sidenav {
  width: 240px;
}
.resource {
  padding-left: 340px;
  padding-right: 160px;
  padding-bottom: 64px;
}
.rside{
  color: var(--font-color);
}
table{
  width: 100%;
}
table,
th,
td {
  border: none;
  border-collapse: collapse;
  background-color: none;
  vertical-align: middle;
  text-align: left;
}
td > i{
  font-size: 16pt;
  padding: 2px;
}
td:nth-child(2){
  font-size: 14pt;
}
tr{
  border: solid 1px rgb(114, 114, 114);
  background-color: var(--table-row-color-2);
}
/*
tr:nth-child(2n) {
  background-color: var(--table-row-color-1);
}
tr:nth-child(2n-1) {
  background-color: var(--table-row-color-2);
}
*/
td,
th {
  padding: 8px 24px;
}
th {
  background-color: var(--table-header-color);
}
table{
  border: 1px solid var(--table-border-color);
}
.tableimg {
  width: 32px;
  vertical-align: middle;
}

@media (min-width: 1180px) and (max-width: 1330px) {
  .resource {
    padding-left: 340px;
    padding-right: 40px;
  }
  td,
  th {
    padding: 8px 14px;
  }
}
@media (min-width: 920px) and (max-width: 1179px) {
  .resource {
    padding-left: 340px;
    padding-right: 40px;
  }
  td,
  th {
    padding: 6px 14px;
  }
  th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 919px) {
  .resource {
    padding-left: 300px;
    padding-right: 40px;
  }
  td,
  th {
    padding: 6px 14px;
  }
  th:nth-child(4),td:nth-child(4),th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
}
@media (max-width: 768px) {
  .resource {
    padding-left: 10px;
    padding-right: 10px;
  }
  td,
  th {
    padding: 4px 12px;
    font-size: 11pt;
  }
  td:nth-child(2){
    font-size: 12pt;
  }
  th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
}
@media (max-width: 529px) {
  th:nth-child(4),td:nth-child(4),th:nth-child(6),td:nth-child(6),th:nth-child(7),td:nth-child(7){
    display: none;
  }
  td,
  th {
    padding: 8px 4px;
    font-size: 11pt;
  }
}