:root{
  --table-header-color: #dddddd;
  --table-border-color: #dbdbdb;
  --table-row-color-1: #ffffff;
  --table-row-color-2: #eeeeee;
}
html[data-theme = "dark"]{
  --table-header-color: #242424;
  --table-border-color: #303030;
  --table-row-color-1: #525252;
  --table-row-color-2: #424242;
}
.resource {
  padding-left: 340px;
  padding-right: 160px;
  padding-bottom: 64px;
}
table,
th,
td {
  border: none;
  border-collapse: collapse;
  background-color: none;
  vertical-align: middle;
  text-align: left;
}
tr:nth-child(2n) {
  background-color: var(--table-row-color-1);
}
tr:nth-child(2n-1) {
  background-color: var(--table-row-color-2);
}
td,
th {
  padding: 8px 24px;
}
th {
  background-color: var(--table-header-color);
}
table{
  border: 1px solid var(--table-border-color);
}
.tableimg {
  width: 32px;
  vertical-align: middle;
}
@media all and (max-width: 768px) {
  .resource {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 769px) and (max-width: 1280px) {
  .resource {
    padding-left: 340px;
    padding-right: 40px;
  }
}
