:root {
  --primary-color: #008fee;
  --primary-color-v: #0079ca;
  --secondary-color: #f0ffff;
  --tertiary-color: #ffffff;
  --font-color: #111111;
  --bg-color: #f5f5f5;
  --side-bg-color: #eeeeee; 
  --side-border-color: #d4d4d4; 
  --heading-color: #000000;
  --link-color: #0043d3;
  --footer-bg-color: #e4e4e4;
  --footer-color: #696969;
}
html[data-theme = "dark"]{
  --primary-color: #008fee;
  --primary-color-v: #0079ca;
  --secondary-color: #ffffff;
  --font-color: #dfdfdf;
  --bg-color: #313131;
  --side-bg-color: #383838; 
  --side-border-color: #4e4e4e; 
  --heading-color: #ececec;
  --link-color: #64b4ff;
  --footer-bg-color: #272727;
  --footer-color: #b1b1b1;
}
html{/* Flex Box */height: 100%;}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;

  /* Flex Box */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
body > section {
  /* Flex Box */
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
h1,h2,h3{
  color: var(--heading-color);
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-weight: bold;
  font-size: 16pt;
}
p {
  font-size: 12pt;
  line-height: 1.5em;
  margin: 1.25em 0;
}
a:link, a:visited {
  color: var(--link-color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.anav{
  text-decoration: none !important;
}
.logoimg{
  max-width: 32px;
}
.logomain{
  max-width: 128px; 
  display: block;
  margin: auto;
  width: 100%;
}
.sidenav {
  width: 240px;
  position: fixed;
  border-style: solid;
  border-color: var(--side-border-color);
  border-width: 0px 1px 0px 0px;
  top: 0; /* Stay at the top */
  left: 0;
  margin-top: 50px;
  padding: 16px 16px;
  overflow-x: auto;
  height: calc(100vh - 82px);
  background-color: var(--side-bg-color);
  z-index: 1;
}
.sidenavbutton{
  display: none;
}
.nobullets{
  list-style-type: none;
}
.navbar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding : 0;

  /* Flex Box */
  flex: none;
}
.button {
  background-color: var(--primary-color);
  border: none; /* 2px solid #000000; */
  border-radius: 2px;
  color: var(--secondary-color); /* Text Color */
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  cursor: pointer;
}
.button_logo{
  background-color: transparent;
  font-weight: bold;
  border-radius: 0;
  vertical-align: top;
  padding: 10px 16px 4px 16px;  
  display: inline-block;
  margin-right: -4px;
}
.button_nav{
  background-color: transparent;
  color: var(--secondary-color) !important; 
  font-weight: bold;
  border-radius: 0;
  display: inline-block;
  margin-right: -4px;
}
.button_nav:hover{
  background-color: var(--primary-color-v);
  text-decoration: none;
}
.button_active{
  background-color: #0099ff;
}
.button_main{
  color: var(--secondary-color) !important; 
  margin: 0px 8px;
  font-weight: bold;
  display: inline-block;
}
.button_main:hover{
  background-color: var(--primary-color-v);
  text-decoration: none;
}
.buttonside{
  background-color: transparent;
  margin: 0;
  font-weight: bold;
  border-radius: 0;
  vertical-align: top;
  padding: 20px 8px 11px 8px;  
  margin-right: -4px;
}
.menuicon{
  font-size: 24px;
  line-height: 0px;
  width: 32px;
}
.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline !important;
}
.footer{
  background-color: var(--footer-bg-color);
  padding: 8px 0px 8px 360px;
  font-size: 10pt;

  /* Flex Box */
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.footer > a {
  text-decoration: none;
  color: var(--footer-color);
  margin: 0 16px;
}
.footer > p{
  color: var(--footer-color);
  margin: 4px 16px 0px;
  font-size: 10pt;
}
@media all and (max-width: 768px){
  .sidenav{
    width: calc(100vw);
    display: none;
  }
  .sidenavbutton{
    display: inline-block;
  }
  .button_logo{
    padding: 10px 8px 4px 8px;  
  }
  .footer{
    padding: 8px 0px;
  }
}
@media all and (min-width: 769px) and (max-width: 1280px){
  .sidenav{
    display: block;
  }
  .sidenavbutton{
    display: none;
  }
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
  margin: 8px 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #505355;
}

input:focus + .slider {
  box-shadow: 0 0 1px #505355;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 