body{
  background-color: #f5f5f5;
  margin: 0px;
  /*overflow: hidden;*/
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-weight: bold;
  font-size: 16pt;
}
p {
  font-size: 12pt;
}
.sectionlimited{
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 64px;
  /*overflow: auto;
  height: calc(100vh - 116px); */
}
.sectionfixed{
  position: fixed;
}
th{  
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  vertical-align: middle;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ffffff;
  vertical-align: middle;
}
a:link, a:visited {
  color: rgb(0,67,211);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.anav{
  text-decoration: none !important;
}
.tableimg{
  width: 32px;
  vertical-align: middle;
}
.logoimg{
  max-width: 32px;
}
.logomain{
  max-width: 128px; 
  display: block;
  margin: auto;
  width: 100%;"
}
.listTitle{
  margin-left: -20px;
  font-weight: bold;
  margin-left: 10px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 0px;
  top: 0; /* Stay at the top */
  left: 0;
  margin-top: 50px;
  margin-left: 0px;
  padding: 16px 16px;
  overflow-x: auto;
  height: calc(100vh - 82px);
  background-color: #eeeeee;
}
.sidenavbutton{
  display: none;
}
.guidelink{
  margin: 16px 0px;
}
.guidelink > a{  color: #2b2b2b;
}
.guidelink > ul > li >a{  color: #474747;
}
.nobullets{
  list-style-type: none;
}

.navbar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #008fee;
  color: #f0ffff;
  padding : 0;
}

.button {
  background-color: #4CAF50;
  border: none; /* 2px solid #000000; */
  border-radius: 2px;
  color: white; /* Text Color */
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
  cursor: pointer;
}
.button_logo{
  background-color: transparent;
  font-weight: bold;
  border-radius: 0;
  vertical-align: top;
  padding: 10px 8px 4px 8px;  
  display: inline-block;
  margin-right: -4px;
}
.button_nav{
  background-color: transparent;
  font-weight: bold;
  border-radius: 0;
  color: white !important; /* Text Color */
  display: inline-block;
  margin-right: -4px;
}
.button_nav:hover{
  background-color: #0082d8;
  text-decoration: none;
}
.button_active{
  background-color: #0099ff;
}
.button_main{
  background-color: #008fee;
  margin: 0px 8px;
  font-weight: bold;
  color: white !important; /* Text Color */
  display: inline-block;

}
.button_main:hover{
  background-color: #0079ca;
  text-decoration: none;
}
.buttonside{
  background-color: transparent;
  margin: 0;
  font-weight: bold;
  border-radius: 0;
  vertical-align: top;
  padding: 20px 8px 11px 8px;  
  margin-right: -4px;
}
.menuicon{
  font-size: 24px;
  line-height: 0px;
  width: 32px;
}
.resource{
  margin-left: 120px;
}
.guide{
  margin-left: 240px;
  margin-top: 64px;
  margin-bottom: 64px;
}
.guideTop{
  margin-left: 240px;
}
.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline !important;
}
@media all and (max-width: 768px){
  .sectionlimited{
    padding-left: 20px;
    padding-right: 20px;
  }
  .resource{
    margin-left: 0px;
  }
  .guide{
    margin-left: 0px;
  }
  .guideTop{
    margin-left: 0px;
  }
  .sidenav{
    width: calc(100vw);
    display: none;
  }
  .sidenavbutton
  {
    display: inline-block;
  }
}
@media all and (min-width: 769px) and (max-width: 1280px){
  .sectionlimited{
    padding-left: 160px;
    padding-right: 40px;
  }
  .sidenav{
    display: block;
  }
  .sidenavbutton
  {
    display: none;
  }
}