body{
  background-color: #cae3ff;
  margin: 0px;
}
section{
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 64px;
}

th{  
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ffffff;
}

ul{
  list-style-type: none;
}

a:link, a:visited {
  color: rgb(0, 67, 211);
  text-decoration: none;
}

.tableimg{
  max-width: 32px;
}

.listTitle{
  margin-left: -20px;
  font-weight: bold;
  margin-left: 10px;

}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 0px;
  top: 0; /* Stay at the top */
  left: 0;
  margin-top: 100px;
  margin-left: 10px;
  padding: 16px 16px;
}

.navbar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #0a0099;
  color: #f0ffff;
  padding : 0 5px;
}

.button {
  background-color: #4CAF50;
  border: none; /* 2px solid #000000; */
  border-radius: 2px;
  color: white; /* Text Color */
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px 16px 0px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button_nav{
  background-color: transparent;
  margin: 0;
  font-weight: bold;
  border-radius: 0;
}
.button_active{
  background-color: #0099ff;
}

@media all and (max-width: 768px){
  section{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
@media all and (min-width: 769px) and (max-width: 1280px){
  section{
    padding-left: 80px;
    padding-right: 80px;
  }
}